{
  "root": true,
  "env": {
    "node": true,
    "es2021": true
  },
  "parser": "vue-eslint-parser",
  "parserOptions": {
    "parser": "@typescript-eslint/parser",
    "ecmaVersion": 2023,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": [
    "plugin:vue/vue3-recommended",
    "plugin:@typescript-eslint/strict",
    "prettier"
  ],
  "plugins": [
    "vue",
    "@typescript-eslint",
    "prettier"
  ],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ],
    "vue/define-emits-declaration": [
      "error",
      "type-literal"
    ],
    "vue/define-props-declaration": [
      "error",
      "type-based"
    ],
    "vue/prefer-use-template-ref": "error",
    "vue/require-typed-ref": "error"
  }
}